.top-nav-bar-wrapper {
  // position: fixed;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #000000;
  background-color: #ffffff;
  padding: 0 2rem;

  &.transparent-white {
    color: #ffffff;
    background-color: transparent;
  }

  &.black-white {
    color: #ffffff;
    background-color: #000000;
  }

  width: 100%;
  height: 5.6rem;
  // padding: 2.4rem 3.2rem;

  > .title-wrapper {
    // width: 17.2rem;

    width: 4.2rem;
    height: 2.4rem;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/route2020-web.appspot.com/o/source%2Froute-logo-color.png?alt=media&token=8c9c5dec-acd3-4538-b1d2-013fdfdf490d");
    background-position: center center;
    background-size: contain;

    justify-self: flex-start;
    font-size: 2.4rem;
    letter-spacing: 1.2rem;
    text-align: left;
    font-family: "Libre Baskerville", serif;
  }

  > .nav-tabs-wrapper {
    display: flex;
    // align-self: center;
    justify-content: flex-end;
    align-items: center;
    > .nav-item {
      font-weight: bold;
      text-align: center;
      letter-spacing: 0.24rem;

      &:not(:last-child) {
        margin-right: 5rem;
      }
    }
  }

  > .top-nav-bar-right-wrapper {
    display: flex;
    justify-self: flex-end;
    align-items: center;

    > .short-cut-items-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 17.2rem;

      > .short-cut-item-icon-wrapper {
        width: 1.6rem;
        height: 1.6rem;
        text-align: center;
      }
    }

    > .short-cut-menu-icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      > .menu-icon-wrapper {
        width: 2.7rem;
        height: 2.7rem;
        background-position: center center;
        background-size: contain;
      }
    }
  }
}

.menu-side-nav-wrapper {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;

  background: #00000052 0% 0% no-repeat padding-box;
  > .menu-side-nav-content-wrapper {
    z-index: 102;
    width: 26rem;
    height: 100%;
    background-color: #ffffff;
    animation: slide-in 0.4s;

    color: #000000;

    display: flex;
    flex-direction: column;

    > .divider {
      width: 100%;
      height: 0.1rem;
      background-color: #0000001a;
      // border-bottom: 0.2rem solid #0000001a;
    }

    > .intro-wrapper {
      padding: 2rem 1.6rem;
      > .logo-wrapper {
      }
      > .title-wrapper {
        text-align: left;
        font-size: 2rem;
        font-weight: 900;
        letter-spacing: 0.4rem;

        margin: 0.8rem 0;
      }
      > .subtitle-wrapper {
        text-align: left;
        font-size: 1rem;
        letter-spacing: 0.018rem;
      }
    }

    > .nav-items-wrapper {
      display: flex;
      flex-direction: column;

      > a > .nav-item {
        display: flex;
        align-items: center;
        height: 4.8rem;

        > .icon-wrapper {
          margin: 0 2rem;
          width: 1.8rem;
          height: 1.8rem;
          // background-color: red;
        }
        > .text-wrapper {
          flex-grow: 1;
          text-align: left;
          font-size: 1.4rem;
          letter-spacing: 0.35rem;
        }
      }
    }

    > .tools-wrapper {
      display: flex;
      flex-direction: column;

      > .nav-item {
        display: flex;
        align-items: center;
        height: 4.8rem;

        > .icon-wrapper {
          margin: 0 2rem;
          width: 1.8rem;
          height: 1.8rem;
          // background-color: red;
        }
        > .text-wrapper {
          flex-grow: 1;
          text-align: left;
          font-size: 1.4rem;
          letter-spacing: 0.35rem;
        }
      }
    }

  }
  > .menu-side-nav-background-wrapper {
    flex-grow: 1;
  }
}

.menu-language-modal-wrapper {
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  > .menu-language-modal-content-wrapper {
    width: 32rem;
    // height: 28rem;
    padding: 1.8rem 1.2rem;
    border-radius: 1.2rem;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;

    > .close-button {
      font-size: 1.8rem;
      color: #000000;
    }

    > .title-wrapper {
      width: 100%;
      margin: 2.4rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      > .language-icon {
        font-size: 3.2rem;
        color: #000000;
        margin: 0.8rem 0 1.2rem 0;
      }

      > .title-text {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: 0.5rem;
        color: #000000;
      }
    }

    > .language-buttons-wrapper {
      display: flex;
      justify-content: center;
      > .language-button-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12.8rem;
        padding: 1.2rem;
        border-radius: 1.2rem;
        border: 0.1rem solid #ececec;
        &:not(:last-child) {
          margin-right: 1.2rem;
        }
        &.selected {
          background-color: #ececec;
          border: 0.1rem solid #ececec;
        }
        > .national-flag-icon-wrapper {
          width: 2.4rem;
          height: 1.8rem;
          background-position: space-around;
          background-size: cover;
          margin-right: 1.2rem;
          border-radius: 0.4rem;
          &.usa {
            background-image: url("https://firebasestorage.googleapis.com/v0/b/route2020-web.appspot.com/o/icon%2Fcolor%2Funited-states.svg?alt=media&token=a8d34e9f-f67f-4c5d-b146-f28459558a92");
          }
          &.korea {
            background-image: url("https://firebasestorage.googleapis.com/v0/b/route2020-web.appspot.com/o/icon%2Fcolor%2Fsouth_korea_flag.svg?alt=media&token=0df46a9d-74e0-4f57-a714-bf75929284fc");
          }
        }

        > .text {
          text-align: center;
          font-weight: 500;
          font-size: 1.6rem;
          letter-spacing: 0.2rem;
          color: #000000;
        }
      }
    }
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
