.about-page-component-wrapper {
  color: #ffffff;
  position: relative;

  > .about-page-main-content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    > .about-page-img-banner-wrapper {
      width: 100%;
      height: 12rem;
      background-image: url("https://firebasestorage.googleapis.com/v0/b/route2020-web.appspot.com/o/background%2Frain-background-2x.jpg?alt=media&token=1a9db55e-26b3-43d8-a962-0c06fa38c500");
      background-position: center center;
      background-size: cover;
    }

    > .about-page-main-content-inner-wrapper {
      display: flex;
      flex-grow: 1;

      align-items: flex-start;
      justify-content: center;

      padding: 4.6rem 0;

      > .about-content-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        align-items: center;
        justify-content: center;

        padding: 2rem;

        > .title-wrapper {
          display: flex;

          align-items: center;
          justify-content: flex-start;

          width: 100%;

          > .title-text {
            text-align: left;
            font-size: 2.4rem;
            font-weight: 900;
            letter-spacing: 4.8px;
            color: #000000;

            white-space: nowrap;
          }

          > .title-line {
            flex-grow: 1;
            width: 100%;
            height: 0.1rem;

            margin-left: 1rem;
            height: 0.2rem;

            background-color: #000000;
          }
        }

        > .logo-wrapper {
          width: 100%;
          height: 10.5rem;

          margin: 4.6rem 0;

          background-image: url("https://firebasestorage.googleapis.com/v0/b/route2020-web.appspot.com/o/source%2Froute-logo-color.png?alt=media&token=8c9c5dec-acd3-4538-b1d2-013fdfdf490d");
          background-position: center center;
          background-size: contain;
        }

        > div.youtube_wrapper {
          width: 100%;
          // height: 10.5rem;
          // height: fit-content;
          height: 24rem;

          margin: 4.6rem 0;
          position: relative;
        }
        @media all and (min-width: 320px) {
          div.youtube_wrapper {
            height: calc(32.0rem/2);
          }
        }
        
        @media all and (min-width: 360px) {
          div.youtube_wrapper { 
            height: calc(36.0rem/2);
          }
        }
        
        @media all and (min-width: 768px) {
          div.youtube_wrapper {
            height: calc(76.8rem/2);
            // max-width: 92rem;
          }
        }

        > .description-img-wrapper {
          margin: 3.6rem 0 2.4rem 0;

          .slide {
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .carousel .control-prev.control-arrow:before {
            border-right: 8px solid #000000;
        }

          .carousel .control-next.control-arrow:before {
            border-left: 8px solid #000000;
          }

          .carousel-item {
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2.4rem;
            > .carousel-item-img {
              max-width: 32rem;
            }
          }
        }

        > .about-text-wrapper {
          > .paragraph-wrapper {
            &:not(:last-child) {
              margin-bottom: 3.2rem;
            }

            text-align: left;
            font-size: 1.6rem;
            color: #000000;

            > .highlight {
              font-weight: 900;
              letter-spacing: 0.28rem;
            }

            > .description-wrapper {
              margin-top: 3.6rem;
              width: 100%;
              height: 12rem;

              background-position: center center;
              background-size: contain;
            }
          }
        }
      }
      // about-content-wrapper
    }
  }
}
