.service-page-component-wrapper {
  color: #ffffff;
  position: relative;

  > .service-page-main-content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    > .service-page-img-banner-wrapper {
      width: 100%;
      height: 12rem;
      background-image: url("https://firebasestorage.googleapis.com/v0/b/route2020-web.appspot.com/o/background%2Frain-background-2x.jpg?alt=media&token=1a9db55e-26b3-43d8-a962-0c06fa38c500");
      background-position: center center;
      background-size: cover;
    }

    > .service-page-main-content-inner-wrapper {
      display: flex;
      flex-grow: 1;

      align-items: flex-start;
      justify-content: center;

      padding: 4.6rem 0;

      > .service-content-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        align-items: center;
        justify-content: center;

        padding: 2rem;

        > .title-wrapper {
          display: flex;

          align-items: center;
          justify-content: flex-start;

          width: 100%;

          > .title-text {
            text-align: left;
            font-size: 2.4rem;
            font-weight: 900;
            letter-spacing: 4.8px;
            color: #000000;

            white-space: nowrap;
          }

          > .title-line {
            flex-grow: 1;
            width: 100%;
            height: 0.1rem;

            margin-left: 1rem;
            // height: 0.2rem;

            background-color: #000000;
          }

        }

        > .desc-color-wrapper {
          display: flex;
          justify-content: space-between;

          width: 100%;
          height: 12rem;
          background-color: #000000;
          // margin: 2rem 0;
          margin-top: 2.0rem;
          padding: 2.4rem;

          border-radius: 1.2rem;

          > .text-wrapper {
            text-align: left;
            font-size: 1.6rem;
            font-weight: 900;
            letter-spacing: 0.48rem;
            color: #eeeeee;

            width: 100%;
            height: 100%;
            // border-right: 0.2rem solid #eeeeee;
          }

          > .desc-log-wrapper {
            width: 4rem;
            height: 2.4rem;
            align-self: flex-end;
            background-image: url('https://firebasestorage.googleapis.com/v0/b/route2020-web.appspot.com/o/source%2Froute-logo-color.png?alt=media&token=8c9c5dec-acd3-4538-b1d2-013fdfdf490d');
            background-position: center center;
            background-size: contain;
          }
        }

        > .download-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #ffffff;
          border-radius: 1.2rem;
          // padding: 1.2rem;
          margin: 2.4rem 0;

          > .upper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1.2rem 0;
            margin: 0 1.2rem;

            border-bottom: 0.2rem solid #92D050;

            > span {
              font-size: 1.2rem;
              font-weight: 500;
              color: black;
              // padding: 1.2rem;
            }
          }

          > .lower {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.2rem;

            > .lang-wrapper {
              padding: 0.6rem;
              border-radius: 0.8rem;
              // border: 0.2rem solid black;
              &:not(:last-child) {
                margin-right: 0.8rem;
              }
            }
          }

          a {
            font-size: 1.2rem;
            font-weight: 500;

            color: black;
          }
        }

        // > .logo-wrapper {
        //   width: 12rem;
        //   height: 7rem;

        //   margin: 4.6rem 0;

        //   background-image: url('https://firebasestorage.googleapis.com/v0/b/route2020-web.appspot.com/o/source%2Froute-logo-color.png?alt=media&token=8c9c5dec-acd3-4538-b1d2-013fdfdf490d');
        //   background-position: center center;
        //   background-size: contain;
        // }


      }
      // service-content-wrapper
    }
  }
}

.service-cards-wrapper {
  display: flex;
  // width: 100%;

  > .divider {
    width: 1.6rem;
    height: 100%;
  }

  > .service-cards-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
    &.web {
      width: 36rem;
    }
  }
}

.service-text-wrapper {
  width: 100%;

  > .service-card-wrapper {
    color: #000;
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
    margin-bottom: 1.6rem;

    &:not(:last-child) {
      margin-bottom: 2.0rem;
    }
    > .card-title-wrapper {
      display: flex;
      align-items: center;
      padding: 1.2rem;
      background-color: #000000;
      border-radius: 0.8rem 0.8rem 0 0;
      > .title-text {
        color: #ffffff;
        font-size: 1.6rem;
        font-weight: 900;
      }
      > .title-line {
        flex-grow: 1;
        height: 0.3rem;
        border-radius: 0.15rem;
        margin-left: 0.8rem;
        background-color: #92D050;
      }
    }

    > .card-content-wrapper {
      padding: 2rem 1.8rem;
      > .paragraph {
        > div {
          font-size:  1.3rem;
          font-weight: 300;
          line-height: 1.7rem;
          color: #707070;

          &:not(:last-child) {
            margin-bottom: 1.4rem;
          }
        }
      }
      > .subtitle {
        margin: 1.2rem 0;
        margin-top: 2.4rem;
        > div {
          font-size: 1.7rem;
          font-weight: 700;
          font-family: "Roboto", sans-serif;
        }
      }
      > .block-wrapper {
        padding: 0.2rem;
        font-family: "Roboto", sans-serif;

        > .block-item {
          // display: flex;
          display: -webkit-inline-box;
          width: 100%;
          border-radius: 0.8rem;
          &:not(:last-child) {
            margin-bottom: 1.2rem;
          }
          > .block-inner-left-wrapper {
            // flex-grow: 1;
            width: 0.6rem !important;
            height: inherit;
            // background-color: #92D050;
            border-radius: 0.8rem 0 0 0.8rem;
          }

          > .block-inner-right-wrapper {
            width: calc(100% - 0.6rem);
            > .block-inner-right-content-wrapper {
              // width: calc(100% - 0.6rem);
              // width: 100%;

              padding: 1.2rem 1.6rem;
              color: #000000;
              border-radius: 0 0.8rem 0.8rem 0;
              background-color: #ffffff;
              text-align: left;

              > .block-title {
                width: 100%;
                font-size: 1.4rem;
                font-weight: 500;
                margin-bottom: 0.8rem;

                &.single {
                  font-size: 1.2rem;
                  margin-bottom: 0;
                }
              }
              > .block-description {
                font-size: 1.3rem;
                font-weight: 100;
              }
            }
          }

        }
      }
    }
    //.card-content-wrapper
  }
}