.members-page-component-wrapper {
  color: #ffffff;
  position: relative;

  > .members-page-main-content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    > .members-page-img-banner-wrapper {
      width: 100%;
      height: 12rem;
      background-image: url('https://firebasestorage.googleapis.com/v0/b/route2020-web.appspot.com/o/background%2Frain-background-2x.jpg?alt=media&token=1a9db55e-26b3-43d8-a962-0c06fa38c500');
      background-position: center center;
      background-size: cover;
    }

    > .members-page-main-content-inner-wrapper {
      display: flex;
      flex-grow: 1;

      align-items: flex-start;
      justify-content: center;

      padding: 4.6rem 0;

      > .members-content-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        align-items: center;
        justify-content: center;

        padding: 2.0rem;

        > .title-wrapper {
          display: flex;
  
          align-items: center;
          justify-content: flex-start;

          width: 100%;

          > .title-text {
            text-align: left;
            font-size: 2.4rem;
            font-weight: 900;
            letter-spacing: 4.8px;
            color: #000000;

            white-space: nowrap;
          }

          > .title-line {
            flex-grow: 1;
            width: 100%;
            height: 0.1rem;

            margin-left: 1rem;
            height: 0.2rem;

            background-color: #000000;
          }

        }

        > .logo-wrapper {
          width: 12rem;
          height: 7rem;

          margin: 4.6rem 0;

          background-image: url('https://firebasestorage.googleapis.com/v0/b/route2020-web.appspot.com/o/source%2Froute-logo-color.png?alt=media&token=8c9c5dec-acd3-4538-b1d2-013fdfdf490d');
          background-position: center center;
          background-size: contain;
        }

        > .members-cards-wrapper {
          display: flex;
          width: 100%;
          
          > .divider {
            width: 1.6rem;
            height: 100%;
          }
  
          > .memebers-cards-column {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
          }
        }

      }
      // members-content-wrapper
    }
  }
}

.team-select-button {
  color: #000000;
}

.members-card-item {
  color: #000000;
  margin-bottom: 1.6rem;
  border-radius: 0.8rem;

  > .card-main-content {

    display: flex;
    

    > .main-content-left-wrapper {
      // padding: 1.2rem;
      padding: 2.4rem;

      > .profile-img-wrapper {
        width: 9.6rem;
        height: 9.6rem;
        background-position: center center;
        background-size: cover;

        border-radius: 4.8rem;
        border-style: solid;
      }
    }

    > .main-content-right-wrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      
      padding: 1.3rem;

      > .logo-wrapper {
        align-self: flex-end;

        width: 2.9rem;
        height: 1.7rem;

        background-image: url('https://firebasestorage.googleapis.com/v0/b/route2020-web.appspot.com/o/source%2Froute-logo-color.png?alt=media&token=8c9c5dec-acd3-4538-b1d2-013fdfdf490d');
        background-position: center center;
        background-size: contain;
      }

      > .name-wrapper {
        font-weight: 500;
        font-size: 2.2rem;
        font-family: "Roboto", sans-serif;

        margin-bottom: 0.4rem;
      }

      > .university-wrapper {
        font-size: 1.0rem;
        font-family: "Roboto", sans-serif;
        margin-bottom: 0.2rem;
      }

      > .major-wrapper {
        font-size: 1.0rem;
        font-family: "Roboto", sans-serif;
        margin-bottom: 0.9rem;
      }

      > .position-items-wrapper {
        display: flex;

        > .position-item {
          display: flex;
          justify-content: center;
          align-items: center;

          &:not(:last-child) {
            margin-right: 0.5rem;
          }

          height: 2.0rem;
          border-radius: 1.0rem;
          font-size: 1.0rem;
          font-weight: 900;
          color: #ffffff;
          padding: 0.6rem 0.9rem;
        }
      }
    }

  }
}